$white: white;
$semi_white:white;
$semi_white_2: white;
$black: #222222;
$hover: #ff5a3c;
$semi_hover: white;
$dark: #ddd;
$secondary_color: #7551ec;
$default_color: #555;
$fb_link_bg: #3b5999;
$twitter_link_bg: #55acee;
$pinterest_linbk_bg: #bd081c;
$default_size: 16px;
$default_font: 'Poppins', sans-serif;
$btn_padding: 10px 25px;
$bold_weight: 600;